.cover_pic {
  	background: url(http://4.bp.blogspot.com/-pxVh7e-s11Q/TvqBEzZa8pI/AAAAAAAAAAc/CbdIWfB7GXc/s1600/born+to+rock+festival+logo.jpg) no-repeat center center;
  	background-position: 48% 85%;
	height: 320px;
	margin: 0px;
	vertical-align: top;
}

.main_page {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.card {
	border-radius: 8px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	height: 500px; 
	width: 800px;
	margin-left: -100px;
	box-shadow: 0 1px 1px rgba(136,153,166,0.15);
	text-align: center;
}

.side_bar {
	border-radius: 8px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	box-shadow: 0 1px 1px rgba(136,153,166,0.15);
	text-align: center;
}

.h2 {
	text-align: center;
}

p .side_bar {
	font-size: 2px;
}